# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.defs
fort.*
*.out


# data
fftw*
hdf5*
gcc*
xz*
*.dat
*.gif

# python output files
*.pyc
*.pkl
*.npy

# specific folders
lib/
build/
include/
staging/
src/pf_version.f90
/.project

test/*/build
test/*/include
test/*/output
test/output
latex
html
final_solution
.pytest_cache
/TAGS
*.ipynb_checkpoints
